.icons2 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.feature-cards1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg);
  background-color: var(--color-white);
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.integration-ecosystem1 {
  width: 188px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 23.2px;
  display: inline-block;
}
.body2 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-bold-size);
  letter-spacing: -0.01em;
  line-height: 23px;
  font-family: var(--body-bold);
}
.feature-cards,
.integration-ecosystem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.integration-ecosystem {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.feature-cards {
  width: 360px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  flex-shrink: 0;
  padding: var(--padding-21xl) var(--padding-lgi);
  gap: var(--gap-5xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--h5-size);
  color: var(--color-white);
  font-family: var(--body-small-tag);
}
