.your-company-inc {
  align-self: stretch;
  position: relative;
}
.your-company-inc-all-rights-wrapper {
  width: 299px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.socials-icon,
.socials-icon1,
.socials-icon2,
.socials-icon3,
.socials-icon4,
.socials-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;

}

.footer-s,
.socials-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.footer-s {
  align-self: stretch;
  border-top: 1px solid var(--color-gray-700);
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-11xl) var(--padding-xl)
    var(--padding-21xl);
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--body-small-tag-size);
  color: var(--color-gray-100);
  font-family: var(--body-small-tag);
}
@media screen and (max-width: 750px) {
  .footer-s {
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 450px) {
  .footer-s {
    flex-wrap: wrap;
  }

 .socials-parent{

  position: relative;

  left: 50px;
 } 
}
